<div id="register">

  <h1>Register</h1>

  <%= form_for @user, method: :post, :url => { controller: :users, action: :create}  do |f| %>

  <label>Pick a Grading Alias/Codename:</label>
  <%= f.text_field :username %>
  <% if @user.errors.has_key? :username %>
  <span class="error"><%= @user.errors[:username].join(", ")%></span>
  <% end %>

  <label>Your Andrew ID:</label>
  <%= f.text_field :andrewid %>
  <% if @user.errors.has_key? :andrewid %>
  <span class="error"><%= raw @user.errors[:andrewid].join(", ") %></span>
  <% end %>

  <%= f.submit "Register!" %>

  <% end %>

</div>
